/* Class-based styles */

.flex-box {
  display: flex;
  justify-content: center;
}

.flex-box-charts {
  display: flex;
  justify-content: center;
}

.navbar {
    background-color: #333;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  /* Navbar list items */
  .navbar li {
    display: inline-block;
  }
  
  /* Navbar links */
  .navbar a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
  }
  
  /* Navbar link hover */
  .navbar a:hover {
    background-color: #555;
  }